{% load static %}
<div class="col">
    <a style="text-decoration: none" href="{% url 'tasks:task_detail' task.id %}">
    <div class="card text-center h-100">
        <div class="card-header bg-primary text-white"><b>{{ task.name }}</b></div>
        <div class="card-body">
            <p class="card-text">{{ task.description|truncatewords:20 }}</p>
        </div>
        <div class="card-footer">
            {% if task.end_date %}
                Выполнить к {{ task.end_date }}
            {% else %}
                Без дедлайна
            {% endif %}
            {% if not status %}
                <br>
                <b>{{ task.get_status_display }}</b>
            {% endif %}
        </div>
    </div>
    </a>
</div>
